<html ng-app="myApp">
<head>
    <title>Angular test</title>
    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="MainCtrl">
<div class="container">
    <div>
        Hello, {{userDetails.login}} (<b>{{userDetails.name}}</b>)!
    </div>
    <div>
        <input type="text" tooltip="Tooltip on foo" ng-model="userDetails.login">
    </div>
    <div>
        <ul>
            <li ng-repeat="program in programs">
                <b>{{program.name}}</b> (v.{{program.version}})
            </li>
        </ul>
    </div>
</div>
</body>
</html>